.App {
  display: flex;
  flex-direction: column;
}

.block {
  display: flex;
  margin-bottom: 20px;
}

.block span {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-right: 10px;
  padding: 10px;
  border: 1px solid black;
}

.App span div,
input {
  margin-bottom: 5px;
}

ul {
  display: flex;
  padding-inline-start: 0px;
}

ul li {
  margin: 0;
  list-style-type: none;
  padding: 2px 5px;
  border: 1px solid green;
  margin-right: 5px;
}
